body{
  padding: 0;
  margin: 0;
  /* background: rgb(22,17,71);
background: radial-gradient(circle, rgba(22,17,71,1) 0%, rgba(22,17,71,1) 50%, rgba(17,13,57,1) 98%); */
background: rgb(250,250,250);
background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(230,230,230,1) 100%);
}

.header{
  padding: 13px 13px;
  margin: 30px 30px 0 30px;
  background-color: #202638;
  border-radius: 4px;
  color:#ffffff;
  position: relative;
}

.header h4{
  position: absolute;
  left: 30px;
  font-size: 18px;
  margin-bottom: 0;
}

.t-navbar{
  font-size: 14px !important;
}

.t-navbar a{
  text-decoration: none !important;
  color: #ffffff !important;
}

.profile-pic{
  background-color: #06080c;
  width: 30px;
  height: 30px;
  margin-top: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-pic a{
  padding: 0;
}

.profile-options{
  background-color: #242a3f;
  position: absolute;
  right: 0px;
  bottom: -35px;
  padding: 4px 12px;
  width: 100px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}


.App{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 25px;
}


.main{
    padding: 30px 0 0 0;
}

.title-header{
  font-size: 40px !important;
}

.title-header p:nth-child(1){
  margin-bottom: 5px !important;
}

.username{
    font-weight: 500;
    padding-left: 12px;
}

.title-header-quote{
  font-size: 20px !important;
  margin:  0 0 !important;
}
 

.t-card-container{
  margin-top: 40px;
}

.t-card{
  background-color: #202638;
  /* width: 200px; */
  color: #ffffff;
  border-radius: 4px;
  word-wrap: break-word;
  padding: 8px 12px;
  margin-bottom: 15px;
}

.t-time{
  font-size:14px;
  color: #aca5a5;
}

.t-card-description {
  font-size: 16px;
  margin-top: 12px;
}


aside{
  padding: 15px;
}

.t-notification-header{
  background-color: #fff2cc;
  padding: 8px 8px;
  border: 1px solid #f0d58d;
}

.t-notification-header h5{
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0;
}


                                  
.notify-case{
  margin-top: 15px;
  background-color: #fff2cc;
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #f0d58d;
}


/*form*/

.message{
  display: flex;
  justify-content: center;
  background-color: #c01717;
  padding:12px 6px;
  margin: 12px 0px !important;
  color: #ffffff;
  border-radius:4px;
}

form{
  width: 54vw;
  padding: 12vh 0;
}
.send{
    width: 100%;
    background-color: navy;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius:4px;
    padding:  10px 0;
}

.output{
  width: 54vw !important;
  background-color: rgb(239, 245, 239);
  border-radius: 4px;
  border: 1px solid rgb(236, 231, 231);
  padding: 30px 8px;
  text-align: left;
  word-break: break-all;
  margin-bottom: 20px;
  position: relative;
}

.output p {
  margin-bottom: 0;
}

.button-case{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button-case button{
  background-color: rgb(207, 77, 25);
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius:4px;
  padding:  6px 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}


.update-button{
  background-color: rgb(42, 79, 148) !important;
}


.update-button:hover{
  background-color: rgb(16, 58, 136) !important;
}


.output-container{
  margin-bottom: 20px;
}

.button-case button:hover{
  background-color: rgb(177, 70, 27);
}

.time{
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 12px;
  color: #868282;
}


.update-textarea{
  margin-bottom: 30px;
}


/*Register*/
.reg-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    padding:  0 0px;
}

.form{
  padding: 20px 20px !important;
  width: 30vw;
  border: 1px solid rgb(230, 224, 224);
  border-radius:4px;
}


.form-title{
    justify-content: center;
}


.submit {
  width: 100%;
  padding: 8px 0 !important;
}